<!DOCTYPE html>
<html>
<head>
  <title>Document</title>
</head>

<body style="background: url('./assets/images/Bkgrnd-Login.jpg'); "> 

  <div class="contenedor">
    <h1 style="color:aliceblue ;">
      Bienvenido a 
      <br>
      Bolsa FIME
      <br>
      <img src="assets/images/LogoO.png" alt="Logo de bolsa fime">
      <br>

      <div style="color:aliceblue; font-size:large;">
        <p>USUARIO</p>
        <p style="text-align:center;"> <input type="text" id="Usuario" placeholder="Escribre tu usuario" style="height: 30px; width: 285px; border-radius: 15px; padding-left:15px;"> </p>
        <br><p>CONTRASEÑA</p>
        <p style="text-align:center;"> <input type="text" id="Contraseña" placeholder="Escribe tu contraseña" style="height: 30px; width: 285px; border-radius: 15px; padding-left:15px;"></p> 
        <br><a href="" style="color:yellow;">Recuperar contraseña</a> 
        <br>
        <br>
        <br>
        <button class="Login" href="">INICIAR SESIÓN</button>
        <br>
        <br>
        <!-- <button class="SignIn" routerLink="/registro-empresas">CREAR CUENTA</button>  -->
        
        
        <div class="dropdown">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            CREAR CUENTA
          </a>
        
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/registro-empresas">Cuenta de empresa</a></li>
            <li><a class="dropdown-item" href="#">Cuenta de postulante</a></li>

          </ul>
        </div>

        
      </div>      
    
    </h1> 
  </div>




  
</body>





</html>