<body style="background: url('./assets/images/Bkgrnd-Login.jpg'); background-size:cover; ">


    <div class="Flex">
        <br>
        <h3>REGISTRO DE ASPIRANTE</h3>
        <br>
        <div class="Campo">
            <p>Nombre completo: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Matricula: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Correo electrónico: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Contraseña: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Confirmar contraseña: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Carrera: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Télefono: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Sexo </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Fecha de nacimiento </p>
            <input type="text" class="box">
        </div>
        
        <div class="TyC">
            <br><a href="" style="color:blue;"><p>Aceptar términos y condiciones </p></a> 
            <label><input type="checkbox" id="cbox1" checked ></label>
        </div>

        <div class="btnS">
            
            <button type="button">CREAR CUENTA</button>
        </div>

        
    </div>
</body>