
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-direction: row;
    
}
img{
    width: 40vw;
    padding: 15vh 5vh 15vh 15vh;
}

h2{
    width: 50vw;
    padding: 3vw;
    border: 10px solid green;
    margin-right: 2vw;
}