<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro empresas</title>
</head>
<body style="background: url('./assets/images/Bkgrnd-Login.jpg'); background-size:cover; ">


    <div class="Flex">
        <br>
        <h3>REGISTRO DE EMPRESA</h3>
        <br>
        <div class="Campo">
            <p>Nombre de la empresa: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Giro de la empresa: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Contraseña: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Confirmar contraseña: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Correo de la empresa: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Nombre del titular: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Celular: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Correo personal: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Puesto: </p>
            <input type="text" class="box">
        </div>
        
        <div class="TyC">
            <br><a href="" style="color:blue;"><p>Aceptar términos y condiciones </p></a> 
            <label><input type="checkbox" id="cbox1" checked ></label>
        </div>

        <div class="btnS">
            
            <button type="button">CREAR CUENTA</button>
        </div>

        
    </div>