<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar vacante</title>
</head>
<body style="background: url('./assets/images/Bkgrnd-Login.jpg'); background-size:cover; ">


    <div class="Flex">
        <br>
        <h3 style="font-weight:bolder ;">Editar vacante</h3>
        <br>
        <div class="Campo">
            <p>Nombre de la vacante: </p>
            <input type="text" class="box">
        </div>
        
        <div class="Campo">
            <p>Puesto: </p>
            <input type="text" class="box">
        </div>

        <div class="Campo">
            <p>Descripción: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Beneficios: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Horario: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Salario: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Ubicación: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Escolaridad requerida: </p>
            <input type="text" class="box">
        </div>
        <div class="Campo">
            <p>Conocimientos/habilidades: </p>
            <input type="text" class="box">
        </div>

        
        <div class="TyC">
            <br><a href="" style="color:blue;"><p>Aceptar términos y condiciones. </p></a> 
            <label><input type="checkbox" id="cbox1" checked ></label>
        </div>

        

        <div class="btnS">
            
            <button type="button">ACTUALIZAR VACANTE</button>
        </div>

        
    </div>